[submodule "Hachiko-frontend"]
	path = Hachiko-frontend
	url = https://github.com/bichsonnhat/Hachiko-frontend.git
[submodule "Hachiko-backend"]
	path = Hachiko-backend
	url = https://github.com/bichsonnhat/Hachiko-backend.git
