[submodule "HachikoCoffee_BE"]
	path = HachikoCoffee_BE
	url = https://github.com/bichsonnhat/Hachiko-backend.git
[submodule "HachikoCoffee_FE"]
	path = HachikoCoffee_FE
	url = https://github.com/bichsonnhat/Hachiko-frontend.git
